@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes expand {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 6rem;
    opacity: 1;
  }
}

@keyframes gradientX {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

.animate-expand {
  animation: expand 0.8s ease-out forwards;
}

.animate-gradient-x {
  background-size: 200% auto;
  animation: gradientX 8s linear infinite;
}

